.slider-container {
	@apply relative;

	.swiper {
		@apply w-full lg:w-11/12 px-6 lg:overflow-y-visible lg:overflow-x-clip;
		max-width: calc(1240px + 3rem);

		@media screen and (min-width: 768px) {
			padding: 0 calc(1.5rem + 4vw);
		}

		@media screen and (min-width: 1024px) {
			padding: 0 1.5rem;
		}

		&-wrapper {
			@apply relative;
		}

		&-slide {
			@apply w-11/12 md:w-5/12;
			@media screen and (min-width: 1024px) {
				transition: margin 0.3s ease;
			}

			&.h-auto {
				height: auto !important;
			}
		}

		&-button {
			@apply hidden lg:flex w-16 h-16 rounded-full border border-rouge bg-white bg-opacity-80 items-center justify-center absolute z-10 top-1/2 -translate-y-1/2 transition-all duration-200;

			&-next {
				@apply right-0 translate-x-2;
			}
			&-prev {
				@apply left-0 rotate-180 -translate-x-2;
			}

			&:disabled {
				@apply hidden;
			}

			&:hover {
				@apply bg-opacity-90;
			}
		}
	}

	&.slider-expertises {
		.swiper {
			@apply w-full max-w-none;

			&-slide {
				@apply lg:flex lg:justify-center;
			}
		}
	}
}
