{% extends "layout.twig" %}

{% block content %}
    
    {% include "components/hero.twig" %}

    <div v-scope="VersionSelection()" class="h-screen">
        <div @vue:mounted="homepage('{{redirect}}')"></div>
    </div>

{% endblock %}
