{% extends "layout.twig" %}

{% block content %}

    <section class="py-56 lg:py-80">
        <div class="container pt-56 lg:pt-[8vw]">
            <div class="lg:w-2/3 lg:mx-auto">
                <h1 class="font-baskerville text-2xl lg:text-4xl">{{ __('Contactez-nous', 'bemy') }}</h1>

                <div class="form-container mt-6">
                    {% if contact_form %}
                        {{ function('do_shortcode', contact_form) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
