{% extends "layout.twig" %}

{% block content %}
    
    {% include "components/hero.twig" with {hero: post.meta('hero')} %}

    <div class="min-h-screen flex items-center">
    
        <div class="container">
            <h1>Index : Hello World : PAGE</h1>
            <p>Page version : {{ version }}</p>
        </div>
    
    </div>

{% endblock %}
