@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?9q1ptw");
	src: url("../fonts/icomoon.eot?9q1ptw#iefix") format("embedded-opentype"),
		url("../fonts/icomoon.ttf?9q1ptw") format("truetype"), url("../fonts/icomoon.woff?9q1ptw") format("woff"),
		url("../fonts/icomoon.svg?9q1ptw#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
	content: "\e900";
}
.icon-fax:before {
	content: "\e901";
}
.icon-applestore:before {
	content: "\e902";
}
.icon-phone:before {
	content: "\e903";
}
.icon-download:before {
	content: "\e904";
}
.icon-email:before {
	content: "\e905";
}
.icon-person:before {
	content: "\e906";
}
.icon-googleplay:before {
	content: "\e907";
}
.icon-dropdown:before {
	content: "\e908";
}
.icon-arrow:before {
	content: "\e909";
}
.icon-pointer:before {
	content: "\e90a";
}
.icon-linkedin:before {
	content: "\e90b";
}
.icon-twitter:before {
	content: "\e90c";
}
.icon-youtube:before {
	content: "\e90d";
}
.icon-citation:before {
	content: "\e90e";
}
.icon-plus:before {
	content: "\e90f";
}
.icon-x:before {
	content: "\e910";
}
